* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  background-color: #f1f3ff;
  min-height: 500px;
}

@media screen and (max-width: 600px) {
}
.row {
}

.btn-sewa {
  background-color: #5cb85f;
  color: #ffff;
  border-radius: 0;
}

.btn-sewa:hover {
  color: #5cb85f;
  background-color: #ffffff;
  border: 1px solid #5cb85f;
}

.whyus {
  margin-top: 100px;
}

.whyus .feature {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #d0d0d0;
  padding: 18px;
  margin: 5px 0;
}

.btn-primary {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid #5cb85f;
  border-radius: 0px;
  align-items: center;
  padding: 17px 16px;
  display: flex;
  background-color: #5cb85f;
}

.carousel {
  background-color: #f1f3ff;
  width: 832px;
  height: 270px;
}

.carousel-control-prev-icon {
  background-image: url("./assets/images/Vector.svg");
  margin-top: 50px;
}

.carousel-control-next-icon {
  background-image: url("./assets/images/Vector-kanan.svg");
  margin-top: 50px;
}
.nav-pills {
  font-weight: 400px;
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #5cb85f;
  font-family: Helvetica;
}
.nav-link {
  color: #000000;
  font-family: Helvetica;
}

.page-home-corporate-card {
  background-color: #0d28a6;
  border-radius: 13px;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  display: flex;
}

.page-home-corporate-card-title {
  font-family: Helvetica;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.page-home-corporate-card-description {
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 20px;
}
